body {
    background-image: url("../img/bg2.png");
    background-repeat: no-repeat;
    background-position: top right;
}

div.tile {
    list-style:none;
    float:left;
    position: relative;
}

div.tile a {
    display: block;
    position: relative;
    overflow: hidden;
    height: 220px;
    width: 300px;
    color: #2d6e8c;
    border: 10px solid #56c6f5;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;    
}

div.tile a:hover {    
    border: 10px solid #2d6e8c;
    border-radius: 20px;
    background-image: url("../img/bg3.png");
}

div.tile img {    
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

.hover {
    border: 10px solid #2d6e8c;
}
