body {
    background-image: url('../img/bg2.png');
    background-repeat: no-repeat;
    background-position: top right;
}

ul.hover_block li{
    list-style:none;
    float:left;
    padding: 10px;
    width:352px; position: relative;
    margin-right: 20px; 
}

ul.hover_block li a {
    display: block;
    position: relative;
    overflow: hidden;
    height: 240px;
    width: 320px;
    padding: 16px;
    color: #000;
    font: 1.6em/1.3 Helvetica, Arial, sans-serif;
}

ul.hover_block li a { text-decoration: none; }

ul.hover_block li img {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}